{% extends "anime.html" %}

{% block anime-name%}Dragon Ball Z {% endblock anime-name%}

{% block summary %}
<p><a href="https://myanimelist.net/anime/813/Dragon_Ball_Z">Dragon Ball Z</a>
is continuance of Goku's journey five years after winning the World Martial Arts tournament, 
Gokuu is now living a peaceful life with his wife and son. This changes, 
however, with the arrival of a mysterious enemy named Raditz who presents 
himself as Gokuu's long-lost brother. He reveals that Gokuu is a descendant 
of the once powerful but now virtually extinct Saiyan race, whose homeworld 
was annihilated. When he was sent to Earth as a baby, Gokuu's sole purpose 
was to conquer and destroy the planet; but after suffering amnesia from a 
head injury, his violent and savage nature changed, and instead was raised 
as a kind and well-mannered boy, now fighting to protect others.
</p>
{% endblock summary %}
{% block rating %}
<small>MyAnimeList: 8.17</small>
{% endblock rating %}