{% extends "anime.html" %}

{% block anime-name %}Naruto{% endblock anime-name %}

{% block summary %}
<p><a href="">Naruto</a> is a hyperactive and knuckle-headed ninja still 
living in Konohagakure. Shunned because of the Kyuubi inside him, Naruto 
struggles to find his place in the village, while his burning desire to 
become the Hokage of Konohagakure leads him not only to some great new 
friends, but also some deadly foes.</p>
{% endblock summary %}

{% block rating %}
<small>MyAnimeList: 7.99</small>
{% endblock rating %}