{% extends "anime.html"%}

{% block anime-name %}One Piece{% endblock anime-name%}

{% block summary%}
<p><a href="https://myanimelist.net/anime/21/One_Piece?cat=anime">One Piece</a> 
is the legendary tale of the rubbery shonen hero Monkey D. Luffy, who aims 
to explore the high seas and savor his freedom as he seeks the mythical 
One Piece treasure to become the pirate king. Anyone who's still hesitating 
to watch or read this adventure might also check out the live-action 
version on Netflix as a short but sweet sample.</p>
{% endblock summary%}

{% block rating %}
<small>MyAnimeList: 8.71</small>
{% endblock rating %}